@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import 'shepherd.js/dist/css/shepherd.css';
.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
